<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Icon user --}}
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>

    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<body>
    <main>
        <section id="container-content"></section>



        <section id="container-form">
            <div id="cards">
                {{!-- form login --}}
                <article id="container-login">
                    <header id="header-login">
                        <h2>Login</h2>
                        <i class="fi fi-sr-circle-user"></i>
                    </header>

                    <form id="form-login" action="/login" method="post">.</form>
                </article>


                {{!-- form cadaster --}}
                <article id="container-cadaster">.</article>
            </div>

            <p id="info">*Por favor, preencha todos os campos obrigatórios!*</p>
        </section>





    </main>





    <footer>
        <p>&copy;nicolas_code</p>
    </footer>




</body>
</html>