<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Icon user --}}
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>

    {{!-- Icon locker --}}
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>

    {{!-- Icon user login --}}
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    {{!-- Icon eye disable --}}
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<body>
    <main>
        <section id="container-content">
            <header id="header-content">
                Área de login do usuário
            </header>

            <article id="content">.</article>
            <footer>
                <p>Created by ~ &copy;nicolas_code</p>
            </footer>
        </section>




        <section id="container-form">
            <header id="header-form">
                <i class="fi fi-rr-circle-user"></i>
                <p id="info">* Por favor, preencha todos os campos obrigatórios! *</p>
            </header>

            <form class="form" id="form-login" action="/login" method="POST">
                <article class="div-input">
                    <p id="label-username">Username:</p>
                    <input type="text" name="username" placeholder="Digite seu nome de usuário">
                </article>

                <article class="div-input">
                    <p id="label-password">Password:</p>

                    <div class="container-password">
                        <input type="password" name="password" placeholder="Digite sua senha">

                        {{!-- Icon eye disble --}}
                        <i class="fi fi-rr-eye-crossed"></i>
                    </div>
                </article>

                <article id="container-interaction">
                    <a href="#" id="link-forgot-password">I forgot my password!</a>

                    <div id="container-btn">
                        <input class="btn" type="reset" value="Cancelar">
                        <input class="btn" type="submit" value="Logar">
                    </div>
                </article>
            </form>


        </section>
    </main>


</body>

</html>